<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  <i class="material-icons"></i>
                </div>
                <h4 class="card-title">Podsumowanie wykonanych próbek laboratoryjnych</h4>
              </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                          <app-summary-sample-table></app-summary-sample-table>
                        </div>
                        <div class="col-md-6 ml-auto mr-auto">
                            <app-summary-sample-doughnut-cahrt></app-summary-sample-doughnut-cahrt>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-info" data-header-animation="true">
              <div class="ct-chart" id="samplesCountByMonthChart"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Liczba próbek w systemie w ciągu ostatniego roku</h4>
              <p class="card-category">
                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 12% </span> różnica w stosunku do ostatniego miesiąca
              </p>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i> zaktualizowano 24h temu
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-success" data-header-animation="true">
              <div class="ct-chart" id="samplesSuccessCountByMonthChart"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Liczba próbek z wynikiem pozytywnym</h4>
              <p class="card-category">
                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> różnica w stostunku do ostatniego roku</p>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i> zaktualizowano 24h temu
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-rose" data-header-animation="true">
              <div class="ct-chart" id="samplesWarningCountByMonthChart"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Liczba próbek w statusie 'Uwaga'</h4>
              <p class="card-category">
                <span class="text-success"><i class="fa fa-long-arrow-down"></i> 12% </span> różnica w stostunku do ostatniego roku
              </p>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i> zaktualizowano 24h temu
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">storage</i>
              </div>
              <p class="card-category">Ilość wszystkich urządzeń</p>
              <h3 class="card-title">{{mainPageSummaryClient.equipmentCount}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-info">zoom_in</i>
                <a href="#pablo">Pokaż szczegóły...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">view_headline</i>
                </div>
                <p class="card-category">Ilość wszystkich przebadanych próbek</p>
                <h3 class="card-title">{{mainPageSummaryClient.sampleCount}}</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-info">zoom_in</i>
                  <a href="#pablo">Pokaż szczegóły...</a>
                </div>
              </div>
            </div>
          </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">volume_down</i>
              </div>
              <p class="card-category">Ilość nieprzeczytanych raportów laboratoryjnych</p>
              <h3 class="card-title">{{mainPageSummaryClient.sampleReportNotReadCount}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-info">zoom_in</i>
                  <a href="#pablo">Pokaż szczegóły...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">volume_up</i>
              </div>
              <p class="card-category">Ilość nieprzeczytanych raportów laboratoryjnych w statusie 'UWAGA'</p>
              <h3 class="card-title">{{mainPageSummaryClient.sampleReportNotReadForWarningSampleCount}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-info">zoom_in</i>
                  <a href="#pablo">Pokaż szczegóły...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
