<div class="main-content">
    <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">storage</i>
                </div>
                <h4 class="card-title">Lista wszystkich próbek</h4>
              </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <app-sample-table [showAll]="true" [type]="type"></app-sample-table>
                    </div>
                  </div>
                </div>
            </div>
        </div> 
        </div>
    </div>
</div>