.main_login_page{
    height: 100vh; 
    /* background-image: url('./assets/img/ao_bg2.jpg');  */
    background-size: cover; 
    background-position: top center; 
}

.input-full-width {
    width: 100%;
    min-width: 204px;
}

