.main_login_page{
    height: 100vh; 
    background-image: url('/assets/img/ao_bg2.jpg');
    background-size: cover; 
    background-position: top center; 
}

.main_login_header {
    font-size: large;
}

.set_language {
    padding-right: 8px;
}