
<footer class="footer">
  <div class="container-fluid">
      <nav class="copyright pull-left">
        <b>Ecol Sp z o.o. 
        Laboratorium Analiz Olejowych</b> &nbsp;&nbsp;&nbsp;
        ul. Podmiejska 71A &nbsp;
        44-207 Rybnik
      </nav>
      <div class="copyright pull-right">
          <div class="footer">
              <a href="callto:+48 32 739 63 48" target="_blank">Tel: +48 32 739 63 48</a>
              <a href="callto:+48 32 739 18 29" target="_blank">Fax: +48 32 739 18 29</a>
              <a href="mailto:ecol@ecol.com.pl"target="_blank">E-mail: ecol@ecol.com.pl</a>
              <a href="https://www.ecol.com.pl" target="_blank">www: ecol.com.pl</a> 
              &nbsp;&copy; {{date | date: 'yyyy'}} Ecol &nbsp;&nbsp; v{{version}}
          </div>

       
        </div>
  </div>
</footer>
