
<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.analizyolejowe.pl">
                      analizyolejowe.pl
                    </a>
                  </li>
                  <li>
                    <a href="/our-team">
                      Nasz zespół
                    </a>
                  </li>
                  <li>
                    <a href="/news">
                      Aktualności
                    </a>
                  </li>
                  <li>
                    <a href="/license">
                      Licencja
                    </a>
                  </li>
                  <li>
                    clientId: {{clientId}}
                  </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            <div class="footer">
                <a href="callto:+48 32 739 63 48" target="_blank">Tel: +48 32 739 63 48</a>
                <a href="callto:+48 32 739 18 29" target="_blank">Fax: +48 32 739 18 29</a>
                <a href="mailto:laboratorium@ecol.com.pl"target="_blank">E-mail: laboratorium@ecol.com.pl</a>
                <a href="https://www.ecol.com.pl" target="_blank">www: ecol.com.pl</a> 
                &nbsp;&copy; {{date | date: 'yyyy'}} Ecol &nbsp;&nbsp; v{{version}}
            </div>

         
          </div>
    </div>
</footer>