<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">person</i>
                </div>
                <h4 class="card-title">Profil użytkownika</h4>
              </div>
                <div class="card-body">
                        <div class="row form-group">
                                <div class="col-sm">
                                    <span class="p-float-label">
                                        <input type="text" id="userName" pInputText readonly="true" [(ngModel)]="user.name" class="input-full-width">
                                        <label for="userName">Imię</label>
                                    </span>
                                  </div>
                                  <div class="col-sm">
                                    <span class="p-float-label">
                                        <input type="text" id="userSurname" pInputText readonly="true" [(ngModel)]="user.surname" class="input-full-width">
                                        <label for="userSurname">Nazwisko</label>
                                    </span>
                                  </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm">
                                <span class="p-float-label">
                                    <input type="text" id="userClientName" pInputText readonly="true" [(ngModel)]="user.clientName" class="input-full-width">
                                    <label for="userClientName">Nazwa klienta</label>
                                </span>
                            </div>
                            <div class="col-sm">
                                <span class="p-float-label">
                                    <input type="text" id="userEmail" pInputText readonly="true" [(ngModel)]="user.email" class="input-full-width">
                                    <label for="userEmail">Email</label>
                                </span>
                            </div>
                          </div>
        
                </div>
            </div>
        </div>
    </div>
</div>
    
</div>
