<div class="main-content">
    <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">storage</i>
                </div>
                <h4 class="card-title">Wg urządzenia</h4>
              </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <!-- <li *ngFor="let item of tree | async">
                                    {{item.clientId}} {{item.clientName}}
                                </li> -->
                            </ul>
                        </div>
                        <div class="col-md-6 ml-auto mr-auto">
                          tu bedzie tabelka
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        </div>
    </div>
</div>