<div class="main-content">
    <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">storage</i>
                </div>
                <h4 class="card-title">Wg urządzenia</h4>
              </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                          <p-tree [value]="tree" 
                                  [filter]="true" 
                                  [loading]="treeLoading"
                                  [(selection)]="selectedEquipment"
                                  (onNodeSelect)="selectEquipment($event)"
                                  selectionMode="single"
                                  scrollHeight="800px" 
                                  filterMode="strict" >
                          </p-tree>

                        </div>
                        <div class="col-md-9 ml-auto mr-auto">
                            <app-sample-table [equipmentId]="equipmentId"></app-sample-table>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        </div>
    </div>
</div>