<div class="main-content">
    <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">storage</i>
                </div>
                <h4 class="card-title">Wg urządzenia</h4>
              </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                          <p-tree [value]="tree" 
                                  [filter]="true" 
                                  [loading]="treeLoading"
                                  [(selection)]="selectedEquipment"
                                  (onNodeSelect)="selectEquipment($event)"
                                  selectionMode="single"
                                  scrollHeight="800px" 
                                  filterMode="strict" >
                          </p-tree>

                        </div>
                        <div class="col-md-9 ml-auto mr-auto">
                          <p-table [value]="samples" 
                                   [loading]="tableLoading" 
                                   [paginator]="true"
                                   [rows]="10"
                                   [showCurrentPageReport]="true"
                                   currentPageReportTemplate="Przedstawiono {first} do {last} z {totalRecords} próbek laboratoryjnych"
                                   [rowsPerPageOptions]="[10,25,50]"
                                   responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 3rem"></th>
                                    <th pSortableColumn="sampleNumber">Numer <p-sortIcon field="sampleNumber"></p-sortIcon></th>
                                    <th pSortableColumn="sampleDate">Data <p-sortIcon field="sampleDate"></p-sortIcon></th>
                                    <th pSortableColumn="reason">Powód wykonania <p-sortIcon field="reason"></p-sortIcon></th>
                                    <th pSortableColumn="lubricantName">Nazwa oleju <p-sortIcon field="lubricantName"></p-sortIcon></th>
                                    <th pSortableColumn="noteName">Uwagi <p-sortIcon field="noteName"></p-sortIcon></th>
                                    <th style="width: 4rem"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-sample let-expanded="expanded">
                                <tr>
                                    <td>
                                      <button type="button" pButton pRipple [pRowToggler]="sampleDetail" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                    </td>
                                    <td>{{sample.sampleNumber}}</td>
                                    <td>{{sample.sampleDate | date:"yyyy/MM/dd"}}</td>
                                    <td>{{sample.reason}}</td>
                                    <td>{{sample.lubricantName}}</td>
                                    <td><span [class]="'order-badge order-' + sample.noteName.toLowerCase()">{{sample.noteName}}</span></td>
                                    <td><p-button type="button" (click)="downloadReport(sample.id)" icon="pi pi-file-pdf"></p-button></td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="rowexpansion" let-sampleDetail>
                              <tr>
                                <td colspan="7">
                                    <div class="p-3">
                                        <p-table [value]="details" >
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pSortableColumn="symbol">Symbol <p-sortIcon field="symbol"></p-sortIcon></th>
                                                    <th pSortableColumn="order">Lp <p-sortIcon field="order"></p-sortIcon></th>
                                                    <th pSortableColumn="name">Nazwa <p-sortIcon field="name"></p-sortIcon></th>
                                                    <th pSortableColumn="standard">Norma <p-sortIcon field="standard"></p-sortIcon></th>
                                                    <th pSortableColumn="resultAlfa">Wynik <p-sortIcon field="resultAlfa"></p-sortIcon></th>
                                                    
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-detail>
                                                <tr>
                                                    <td>{{detail.symbol}}</td>
                                                    <td>{{detail.order}}</td>
                                                    <td>{{detail.name}}</td>
                                                    <td>{{detail.standard}}</td>
                                                    <td>{{detail.resultAlfa}}</td>
                                                   
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="emptymessage">
                                                <tr>
                                                    <td colspan="6">Brak wyników dla wybranej próbki laboratoryjnej</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </td>
                            </tr>
                            </ng-template>
                        </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        </div>
    </div>
</div>