<p-toast></p-toast>
<p-table #dt1 
    [value]="samples" 
    [rowsPerPageOptions]="[10,25,50,100,500]"
    [loading]="tableLoading" 
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [globalFilterFields]="['sampleNumber','sampleDate','reason','lubricantName','equipmentName','nodeName', 'noteName']"
    dataKey="id"
    styleClass="p-datatable-striped"
    responsiveLayout="scroll"
    >
<ng-template pTemplate="caption">
        <div class="p-d-flex">
            <button pButton [label]="'all_table.clear' | translate" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
            <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" [placeholder]="'all_table.search' | translate" />
            </span>
        </div>
</ng-template>
<ng-template pTemplate="header">
    <tr>
        <th style="width: 3rem"></th>
        <th pSortableColumn="sampleNumber">{{"sample_table.number" | translate}}
            <p-sortIcon field="sampleNumber"></p-sortIcon>
            <p-columnFilter type="text" field="sampleNumber" display="menu" ></p-columnFilter>
        </th>
        <th pSortableColumn="sampleDate">{{"sample_table.date" | translate}}
            <p-sortIcon field="sampleDate"></p-sortIcon>
            <p-columnFilter type="date" field="sampleDate" display="menu" ></p-columnFilter>
        </th>
        <th pSortableColumn="reason">{{"sample_table.reason" | translate}}
            <p-sortIcon field="reason"></p-sortIcon>
            <p-columnFilter type="text" field="reason" display="menu" ></p-columnFilter>
        </th>
        <th pSortableColumn="lubricantName">{{"sample_table.lubricant" | translate}}
            <p-sortIcon field="lubricantName"></p-sortIcon>
            <p-columnFilter type="text" field="lubricantName" display="menu" ></p-columnFilter>
        </th>
        <th pSortableColumn="equipmentName">{{"sample_table.equipment" | translate}}
            <p-sortIcon field="equipmentName"></p-sortIcon>
            <p-columnFilter type="text" field="equipmentName" display="menu" ></p-columnFilter>
        </th>
        <th pSortableColumn="nodeName">{{"sample_table.node" | translate}}
            <p-sortIcon field="nodeName"></p-sortIcon>
            <p-columnFilter type="text" field="nodeName" display="menu" ></p-columnFilter>
        </th>
        <th pSortableColumn="noteName">{{"sample_table.note" | translate}}
            <p-sortIcon field="noteName"></p-sortIcon>
            <p-columnFilter type="text" field="noteName" display="menu" ></p-columnFilter>
        </th>
        <th style="width: 4rem"></th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-sample let-expanded="expanded" >
<tr >
 <td>
   <button type="button" pButton pRipple (click)="expendSampleDetail(sample)"  [pRowToggler]="sample" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
 </td>
 <td>{{sample.sampleNumber}}</td>
 <td>{{sample.sampleDate | date:"yyyy-MM-dd"}}</td>
 <td>{{sample.reason}}</td>
 <td>{{sample.lubricantName}}</td>
 <td>{{sample.equipmentName}}</td>
 <td>{{sample.nodeName}}</td>
 <td>
     <div [class]="'sample-badge sample-badge-' + sample?.noteNameEn?.toLowerCase()">{{sample?.noteName?.toLowerCase()}}</div>
    </td>
 <td><p-button type="button" (click)="downloadReport(sample.id)" icon="pi pi-file-pdf"></p-button></td>
</tr>
</ng-template>
<ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="6">{{"all_table.empty_data" | translate}}</td>
    </tr>
</ng-template>
<ng-template pTemplate="rowexpansion" let-sample>
    <tr>
    <td colspan="5">
        <div class="p-p-3">
            <p-table [value]="sample.details" dataKey="sampleId" >
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="symbol">{{"sample_table_detail.symbol" | translate}} <p-sortIcon field="symbol"></p-sortIcon></th>
                        <th pSortableColumn="name">{{"sample_table_detail.name" | translate}} <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="standard">{{"sample_table_detail.standard" | translate}} <p-sortIcon field="standard"></p-sortIcon></th>
                        <th pSortableColumn="resultAlfa">{{"sample_table_detail.result" | translate}} <p-sortIcon field="resultAlfa"></p-sortIcon></th>
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-detail>
                    <tr>
                        <td>{{detail.symbol}}</td>
                        <td>{{detail.name}}</td>
                        <td>{{detail.standard}}</td>
                        <td>{{detail.resultAlfa}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">{{"sample_table.empty_data" | translate}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </td>
    </tr>
</ng-template>
</p-table>