<div class="main-content">
    <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">storage</i>
                </div>
                <h4 class="card-title">{{"user_table.title_page" | translate}}</h4>
              </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <app-universal-table [outsideData]="dataSource" [outsideCols]="cols"></app-universal-table>
                    </div>
                  </div>
                </div>
            </div>
        </div> 
        </div>
    </div>
</div>